@import url('https://fonts.googleapis.com/css2?family=Acme&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: rgb(150, 139, 127);
    font-family: "Acme", sans-serif;
}
h1, h3,h4,h5,p {
    color: rgb(241, 233, 221);
}


